# Core modules (mandatory)
jupyterlite-core
jupyterlab

# Python kernel (optional)
jupyterlite-pyodide-kernel

# JavaScript kernel (optional)
jupyterlite-javascript-kernel

# Language support (optional)
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

# SQLite kernel (optional)
jupyterlite-xeus-sqlite
# P5 kernel (optional)
jupyterlite-p5-kernel
# Lua kernel (optional)
jupyterlite-xeus-lua

# JupyterLab: Fasta file renderer (optional)
jupyterlab-fasta
# JupyterLab: Geojson file renderer (optional)
jupyterlab-geojson
# JupyterLab: guided tour (optional)
jupyterlab-tour
# JupyterLab: dark theme
jupyterlab-night
# JupyterLab: Miami nights theme (optional)
jupyterlab_miami_nights

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets
# Python: ipyevents library for Jupyter notebooks (optional)
ipyevents
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl
# Python: ipycanvas library for Jupyter notebooks (optional)
ipycanvas
# Python: ipyleaflet library for Jupyter notebooks (optional)
ipyleaflet

# Python: plotting libraries (optional)
plotly
bqplot

# Custom
lifelines
